body {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
  margin: 0;
  padding: 0;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.links {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.links p {
  margin: 10px 0;
}

.links a {
  color: #333;
  text-decoration: none;
  font-size: 18px;
}

.links a:hover {
  color: #007bff;
}
