.button {
  display: inline-block;
  background-color: #4CAF50;
  border: none;
  color: white;
  text-align: center;
  font-size: 16px;
  padding: 10px 24px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 12px;
  text-decoration: none; /* Убираем подчеркивание */
}

.button:hover {
  background-color: #45a049;
}

#bottom-block {
    position: fixed; /* Зафиксируем позицию элемента */
    bottom: 0; /* Разместим блок внизу */
    width: 100%; /* Сделаем блок шириной по всей странице */
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
}
