body {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
  margin: 0;
  padding: 0;
}

.links {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.button {
  background: linear-gradient(to bottom, #a0e248, #59b357);
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  padding: 15px 30px;
  font-size: 18px;
  border-radius: 25px;
  margin: 10px 0;
  cursor: pointer;
  transition: background 0.3s;
}

.button:hover {
  background: linear-gradient(to bottom, #59b357, #a0e248);
}
